server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  profiles:
    active: dev

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  valid-duration: 1
  refresh-duration: 1